footer.footer
    .footer__logo logo1
    .footer__content
        p Режим работы:
        p с 11:00 до 22:00
    .footer_contacts
        p Контакты:
        p bla-bla 
    .footer_icons 
        p Иконки:
        p bla-bla 
