header.header
        a(href="/", class="logo") logo233
        .navigation__burger
            span.navigation__burger-top
            span.navigation__burger-center
            span.navigation__burger-bottom
        nav.navigation__wrapper
            ul.navigation__menu
                li(class="navigation__item", to="catUnicId_1") о кафе 4
                li(class="navigation__item", to="catUnicId_2") меню
                li(class="navigation__item", to="catUnicId_3") адреса
                li(class="navigation__item", to="catUnicId_4") вопросы и ответы